/* Clear all formatting from controls beforehand (*means everything) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Ensure html and body takes up full screen size */
html, body{
    height: 100%;
}

header{
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

img{
    border-radius: 30%;
}

footer{
    padding: 20px 0;
    margin-top: auto;
    bottom: 0;
}

